:root {
    --font:  "Rubik", sans-serif;
    --button-blue: #006edb;
    --button-hover-blue:  #00468b;
    --button-red: rgb(255, 0, 0);
    --button-hover-red: rgb(142, 9, 9);
    --font-color: white;
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 80px;
}



/*
* Navigation Bar
*/
.hamburger {
    display: none;
}

#nav-container {
    border: 0px;
    min-width: 100%;
    border: 1px solid white !important;
}

#navbar {
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    background-color: white;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.nav-link:hover {
    transition: 500ms;
    color: black;
}







/*
* Register
*/
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    margin-left: 10%;
    margin-right: 10%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.auth-input {
    font-family: var(--font);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
    resize: none;
}

#register-button{
    display: flex;
    justify-content: center;
    width: 250px
}

#redirect-sign-in{
    font-family: var(--font);
}

#redirect-sign-in a {
    font-family: var(--font);
    text-decoration: none;
    color: var(--button-blue);
}

#redirect-sign-in a:hover {
    color: var(--button-hover-blue);
    transition: 500ms;
}


/*
* Blog Container
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

article {
    background-color:rgb(250, 250, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article section h3 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

.submit-button {
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--button-blue);
    color: white;
}

.submit-button:hover {
    background-color: var(--button-hover-blue);
    cursor: pointer;
    transition: 500ms;
}

#delete-blog{
    background-color: var(--button-red);
}

#delete-blog:hover{
    background-color: var(--button-hover-red);
}

.no-blogs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-blogs-container h2{
    font-family: var(--font);
    text-align: center;
    display: block;
    width:80%;
}

.no-blogs-container h2 a{
    font-family: var(--font);
    text-decoration: none;
    color: var(--button-blue);
}

.no-blogs-container h2 a:hover{
    color: var(--button-hover-blue);
    cursor: pointer;
    transition: 500ms;
}

#blog-header-image {
    overflow-x: hidden;
    width: 600px;
    height: 600px;
    border-radius: 5px;
}
.generating-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generating-header{
    padding-top: 20px;
    text-align: center;
    font-family: var(--font);

}

#typed-output {
    font-family: "Major Mono Display", monospace;
    font-size: xx-large;
}

/*
* Stripe Payments
*/
.stripe-form {
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.payment-card-container {
    display: flex;
    flex-direction: row;
}

.payment-card-form {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.payment-card {
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin: 10px;
    transition: 850ms; 
    
    background-color:rgb(250, 250, 252);
}

.payment-card:hover {
    transition: 850ms;
    transform: scale(1.01);
}

.payment-button {
    font-family: var(--font);
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--button-blue);
}

.payment-button:hover {
    background-color: var(--button-hover-blue);
    cursor: pointer;
    transition: 500ms;
}

.cancel-button {
    background-color: var(--button-red);
}

.cancel-button:hover {
    background-color: var(--button-hover-red);
}

/*
* Footer
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link {
    margin: 5px;
    font: var(--font);
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    cursor: pointer;
}

.footer p {
    font: var(--font);
    color: var(--font-color);
    margin-top: 5px;
    margin-bottom: 5px;
}




@media only screen and (max-width: 1000px){

    /*
    * Navigation Bar
    */
    .hamburger {
        z-index: 1;
        position: absolute;
        width: 50px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger:hover {
        cursor: pointer;
        color: black;
    }
    
    .hamburger span {
        width: 30px;
        height: 7px;
        margin: 2px;
        border-radius: 2px;
        background-color: rgb(87, 87, 87);
    }

    #nav-container {
        overflow-y: hidden;
        min-width: 0px;
        max-width: 200px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0;
        height: 325px;
        background-color: white;
        border: 1px solid black !important;
        display: none;
        border-radius: 5px;
    }

    #navbar {
       font-size: large;
       padding-top: 30px;
       justify-content: flex-start;
    }

    #nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
    }



    /*
    * Register
    */
    .introduction {
        font-size: large;
    }

    .auth-input {
        font-size: large;
        width: 100%;
    }

    #register-button{
        width: 300px;
    }

    #redirect-sign-in {
        font-size: large;
    }

    #redirect-sign-in a {
        font-size: large;
    }

    /*
    * Blog Container
    */
    #title {
        font-size: 1.5em;

    }

    main {
        padding-top: 20px;
        font-size: large;
    }

    article {
        padding: 3%;
    }

    .submit-button{
        font-size: large;
        width: 300px;
        border-radius: 50px;
    }

    #blog-form {
        margin-bottom: 40px;
    }

    #member-info-link h3{
        font-family: var(--font);
    }

    #member-info-link a{
        text-decoration: none;
        font-family: var(--font);
        color: var(--button-blue);
    }

    #member-info-link a:hover{
        font-family: var(--font);
        color: var(--button-hover-blue);
        cursor: pointer;
    }

    #blog-header-image {
        overflow-x: hidden;
        width: 300px;
        height: 300px;
    }

    /*
    * Stripe Payments
    */
    .stripe-form {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 50px;
    }
    .payment-card-container {
        display: flex;
        flex-direction: column;
    }

    .payment-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .payment-card {
        width: 85%;
        height: 300px;
        margin: 0px;
        margin-bottom: 15px;
    }

    .payment-card:hover{
        transition: none;
        transform: none;
    }

}

