:root {
    font-size: 20px;
    --font: "Inter";
    
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl:2.5rem;
    --margin-xxxl: 3rem;


    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #0077B6;


    --radius-default: 1.5rem;
    --radius-xxs: .2rem;
    --radius-small: .5rem;
    --radius-medium: 1.25rem;

    --padding-xxs: .25rem;
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl:2.5rem;


    --transition-base: .35s cubic-bezier(0.65, 0, 0.35, 1);
    
    
    --button-blue: #006edb;
    --button-hover-blue:  #00468b;
    --button-red: rgb(255, 0, 0);
    --button-hover-red: rgb(142, 9, 9);
    --font-color: white;

    --hamburger-width: 40px;
    --hamburger-height: 30px;
    --hamburger-line-width: 100%;
    --hamburger-line-height: 6px;
    --translation-distance: calc(var(--hamburger-height) - 3 * var(--hamburger-line-height));
}

body {
    font-family: var(--font);
    background-color: var(--primary-color);
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 80px;
}

#content {
    margin-top: 3.5rem;
}



/*
* NavBar
*/

.navbar {
    /*background-color: var(--secondary-color);*/
    background-color: transparent;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    font-family: var(--font);
    backdrop-filter: blur(.6rem);
    background-color: rgba(255, 255, 255, .85);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xxs);
    margin-top: var(--margin-xs);
    border-radius: var(--radius-small);
    box-shadow: 0 1px rgba(0, 0, 0, .08);
}

.navbar-menu {
    margin-left: var(--margin-m);
    display: flex;
}

.navbar-action {
    margin-left: var(--margin-l);
    display: flex;
    position: static;
}

.navbar-link {
    color: black;
    padding: var(--margin-xs);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.navbar-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0);
    transition: all var(--transition-base);
    border-radius: var(--radius-small);
    z-index: -1;
}

.navbar-link:hover::after {
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

#navbar-register {
    color: var(--primary-color);
    border-radius: var(--radius-small);
    background-color: var(--secondary-color);
    transition: var(--transition-base);
    margin-left: var(--margin-xxs);
}

#navbar-register:hover {
    border-radius: .75rem;
}

#navbar-register::after {
    display: none;
}

.hamburger-container {
    margin-left: var(--margin-s);
    margin-right: var(--margin-xxs);
    margin-top: var(--margin-xs);
    margin-bottom: var(--margin-xs);
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: var(--hamburger-width);
    height: var(--hamburger-height);
}

.line {
    position: relative;
    display: block;
    border-radius: 5px;
    background-color: black;
    width: 100%;
    height: var(--hamburger-line-height);
    transition: var(--transition-base);

    transform-origin: center;
}


.top.open{
    /* width: calc(var(--hamburger-line-width) / 1.25); */
    transform: translateY(var(--translation-distance)) rotate(45deg);
}

.middle.open{
    opacity: 0;
}

.bottom.open{
    /* width: calc(var(--hamburger-line-width) / 1.25); */
    transform: translateY(calc(-1 * var(--translation-distance))) rotate(-45deg);
}


.overlay {
    display: none;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .85);
    border-radius: var(--radius-small);
    margin-top: var(--margin-xxs);
    padding: var(--padding-xxs);
    width: 95vw;
    max-width: 25rem;
    box-shadow: 0px 2rem 1.5rem 0px rgba(0, 0, 0, 0.10), 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.07), 0px 0.125rem 0.1rem 0px rgba(0, 0, 0, 0.05);

}

.overlay.open {
    display: none;
}

.mobile-navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mobile-navbar-link {
    font-family: var(--font);
    text-decoration: none;
    color: black;
    padding: var(--padding-s);
}

/*
* Messages
*/
ul::-webkit-details-marker {
    margin: 0;
    padding: 0; 
    display: none;
}


.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.message {
    font-family: var(--font);
    font-size: large;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.message.error:hover {
    transition: 500ms;
    background-color: rgb(151, 3, 3);
    cursor: pointer;
}

.message.error {
    background-color: rgb(225, 87, 87);
}

.message.success {
    background-color: rgb(114, 185, 114);
}

.errorlist {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
}


/*
* Hero Section
*/
.home-container {
    text-align: center;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 5em;
}

#home-typed-output {
    height: 30px;
    font-size: 2em;
    margin-bottom: 60px;
}

.home-link-container {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: var(--button-blue);
    transition: 500ms;
}

.home-link-container:hover {
    background-color: var(--button-hover-blue);
    cursor: pointer;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}



/*
* Register
*/
.logo-container {
    display: flex;
    justify-content: center;
}

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    max-width: 24rem;
    width: 24rem;
    padding: var(--padding-m);
    border-radius: var(--radius-small);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* all-around shadow */

}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.auth-input {
    font-family: var(--font);
    font-size: large;
    padding: 10px;
    border: 1px solid black;
    border-radius: var(--radius-small);
    margin-top: var(--margin-xxs);
    margin-bottom: var(--margin-xxs);
    width: 20rem;
    resize: none;
}

#register-button{
    display: flex;
    justify-content: center;
    width: 250px
}

#redirect-sign-in{
    font-family: var(--font);
}

#redirect-sign-in a {
    font-family: var(--font);
    text-decoration: none;
    color: var(--button-blue);
}

#redirect-sign-in a:hover {
    color: var(--button-hover-blue);
    transition: 500ms;
}

/*
* Google Login
*/
.google-login-btn {
    font-family: var(--font);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: var(--radius-small);
    padding: var(--padding-xxs);
    width: 15rem;
    background-color: var(--button-blue);
    transition: 500ms;
}

.google-login-btn:hover {
    background-color: var(--button-hover-blue);
    cursor: pointer;
}

.google-icon {
    padding: var(--padding-xxs);
    background-color: white;
    border-radius: var(--radius-small);
    margin-left: var(--margin-xxs);
}


.google-login-text{
    font-size: 1rem;
    color: var(--primary-color);
    margin: var(--margin-xs);
    margin-right: var(--margin-l);
}

/*
* Dashboard
*/
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 30rem;
}

.creation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard-item-container {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-s);
    margin: var(--margin-xxs);
    border-radius: var(--radius-small);
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    transition: 100ms ease-in-out;
}

.dashboard-item-container:hover{
    box-shadow: 0 0 5px 0 var(--secondary-color);
}


.dashboard-queue-blog-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blog-icon-text-container {
    display: flex;
    align-items: center;
}

.blog-icon-container {
    display: flex;
    margin-right: var(--margin-s);
    padding: var(--padding-xxs);
    justify-content: center;
    align-items: center;
    background-color: var(--button-blue);
    border-radius: var(--radius-xxs);
}

.batch-icon-container {
    background-color: #f2e747;
}

.blog-icon-text-container span{
    font-size: xx-large;
    font-weight: bolder;
}

.single-blog-container p {
    font-size: smaller;
    margin-left: var(--margin-l);
}


.automated_mode_toggle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--margin-s);
}

.toggle-automated-mode-btn {
    border: none;
    color: var(--primary-color);
    font-size: larger;


    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-xs);
    padding-bottom: var(--padding-xs);

    border-radius: var(--radius-small);

    transition: 200ms;
}

.toggle-automated-mode-btn:hover {
    cursor: pointer;
}

.automated-mode-on {
    background-color: var(--button-blue);
}

.automated-mode-on:hover {
    background-color: var(--button-hover-blue);
}

.automated-mode-off {
    background-color: var(--button-red);
}

.automated-mode-off:hover {
    background-color: var(--button-hover-red);
}



/*
* Blog Batch
*/
.batch-generation-container {
    display: flex;
    justify-content: center;
}

#titles-or-topics {
    height: 6rem;
    border-radius: var(--radius-xxs);
}

#titles-or-topics::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
  
}

#titles-or-topics::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(175, 175, 175);
}

.titles-radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles-or-topics-radio {
    display: none;
}

.radio-label {
    color: #a2a2a2;
    transition: 200ms;

    padding-left: var(--padding-s);
    padding-right: var(--padding-s);
    padding-top: var(--padding-xxs);
    padding-bottom: var(--padding-xxs);
}

.radio-label:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.titles-label {
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;

    border-top-left-radius: var(--radius-xxs);
    border-bottom-left-radius: var(--radius-xxs);
}

.titles-label:hover {
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
}

.topics-label {
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    border-right: 1px solid #a2a2a2;

    border-top-right-radius: var(--radius-xxs);
    border-bottom-right-radius: var(--radius-xxs);
}

.topics-label:hover {
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

.batch-titles-radio-checked {
    border: none;
    border: 1px solid var(--button-blue);
    border-top-left-radius: var(--radius-xxs);
    border-bottom-left-radius: var(--radius-xxs);

    color: var(--button-blue);
}

.batch-titles-radio-checked:hover {
    color: var(--button-hover-blue);

    border: 1px solid var(--button-hover-blue);
}

.batch-topics-radio-checked {
    border: 1px solid var(--button-blue);
    border-top-right-radius: var(--radius-xxs);
    border-bottom-right-radius: var(--radius-xxs);

    color: var(--button-blue);
}

.batch-topics-radio-checked:hover {
    color: var(--button-hover-blue);
    border: 1px solid var(--button-hover-blue);
}








/*
* Blog Queue
*/
.queue-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: var(--margin-xl);
}

.blog-table-title-container {
    width: 95%;
    max-width: 35rem;
}

.blog-table-title {
    margin: var(--margin-xs);
}

.blog-queue-table {
    width: 95%;
    max-width: 35rem;
    border-spacing: 0px;
    margin-bottom: 30px;
}

.queue-table-header {
    text-align: left;
    padding: var(--padding-s);
    padding-left: var(--padding-m);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 50px;
    font-size: medium;
}

.row-gray {
    background-color: rgb(237, 237, 237);
}

.queue-image {
    max-width: 40%; 
    max-height: 40%; 
    display: block;
    padding: var(--padding-xxs);
    margin-left: var(--margin-xs);
}

.blank-image-placeholder {
    width: 50px;
    height: 50px;
}

.queue-publish-date {
    text-align: right;
    margin-right: var(--margin-m);
    font-size: medium;
}

.queue-meta-info {
    font-size: medium;
    padding-left: var(--padding-xxs);
}

.queue-table-data {
    text-align: right;
}

.queue-link {
    text-decoration: none;
    margin-right: var(--margin-s);
    color: var(--button-blue);
}

.queue-link:hover {
    cursor: pointer;
    color: var(--button-hover-blue);
}

/*
* Blog Container
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

article {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* all-around shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-s);
    padding-top: var(--padding-l);
    margin-bottom: var(--margin-s);
    border-radius: var(--radius-medium);
    width: 95%;
}



h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article section h3 {
    float: left;
    text-align: left;
    margin-bottom: var(--margin-xxs);

}

article section p {
    margin-top: var(--margin-s);
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}


.submit-button {
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 20rem;
    width: 20rem;
    margin-top: var(--margin-s);
    margin-left: var(--margin-s);
    margin-right: var(--margin-s);
    padding: var(--padding-xs);
    border-radius: var(--radius-small);
    border: none;
    font-size: large;
    background-color: var(--button-blue);
    color: white;
}

.submit-button:hover {
    background-color: var(--button-hover-blue);
    cursor: pointer;
    transition: 500ms;
}

#delete-blog{
    background-color: var(--button-red);
}

#delete-blog:hover{
    background-color: var(--button-hover-red);
}

.no-blogs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-blogs-container h2{
    font-family: var(--font);
    text-align: center;
    display: block;
    width:80%;
}

.no-blogs-container h2 a{
    font-family: var(--font);
    text-decoration: none;
    color: var(--button-blue);
}

.no-blogs-container h2 a:hover{
    color: var(--button-hover-blue);
    cursor: pointer;
    transition: 500ms;
}

#blog-header-image {
    width: 40%;
    height: 40%;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--radius-small);
}
.generating-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.generate-ai-image-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding-xs);
}

[type=checkbox] {
    width: 1rem;
    height: 1rem;
    color: var(--button-blue);
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 2px;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #a2a2a2;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

[type=checkbox]:checked {
    background-color: currentcolor;
}

#generating-header{
    padding-top: 20px;
    text-align: center;
    font-family: var(--font);

}

#typed-output {
    font-family: "Major Mono Display", monospace;
    font-size: xx-large;
}

#member-info-link h3{
    font-family: var(--font);
}

#member-info-link a{
    text-decoration: none;
    font-family: var(--font);
    color: var(--button-blue);
}

#member-info-link a:hover{
    font-family: var(--font);
    color: var(--button-hover-blue);
    cursor: pointer;
}

.image-delete-form {
    display: flex;
}

.image-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-small);
}

.delete-blog-image-button {
    display: flex;
    width: 100%;
    transition: 500ms;
    background-color: var(--button-red);
}

.delete-blog-image-button:hover {
    background-color: var(--button-hover-red);
}

.upload-image-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.image-upload-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xs);
}

.file-upload-button {
    width: 100%;
    padding: var(--padding-xxs);
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* all-around shadow */
}

.file-upload-button strong {
    font-size: large;
    font-weight: bold;
}

.uploaded-image-container {
    display: flex;
    width: 100%;
    max-width: 10rem;
    border-radius: var(--radius-small);
    justify-content: space-between;
    padding: var(--margin-xs);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* all-around shadow */

}

#upload-blog-image {
    width: 90%;
    max-width: 10rem;
    margin: var(--margin-xs);
}

#trash-can:hover {
    cursor: pointer;
}

#id_image {
    display: none;
}


.file-upload-button:hover {
    cursor: pointer;
}

/*
* Settings
*/
#blog-info:hover {
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* all-around shadow */
    padding: var(--padding-xs);
    margin: var(--margin-xs);
    border-radius: var(--radius-medium);
    font-family: var(--font);
    color: var(--secondary-color);
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.settings-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: var(--padding-xs);
    margin-bottom: 0px;
    height: 30px;
}


.settings-header {
    margin: 10px;
}

.info {
    padding: var(--padding-xxs);
    font-size: large;
    margin-left: var(--margin-s);
}

.settings-link {
    font-size: large;
    justify-self: flex-end;
    font-family: var(--font);
    color: var(--button-blue);
    margin-left:var(--margin-xxs);
    text-decoration: none;
}

.settings-link:hover {
    cursor: pointer;
    color: var(--button-hover-blue);
}


.separator {
    height: 0px;
    border: 1px solid var(--secondary-color);
    margin-left: var(--margin-xxs);
    margin-right: var(--margin-xxs);
}

/*
* Verification
*/
.verification-container {
    font-family: var(--font);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
* Stripe Payments
*/
.stripe-form {
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.payment-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.payment-card-form {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

#payment-contact-form {
    flex-direction: column;
    align-items: center;
}

.payment-contact {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.payment-card {
    text-align: left;
    border: 1px solid rgb(131, 130, 130);
    border-radius: 10px;
    width: 18rem;
    max-width: 18rem;
    margin: var(--margin-xs);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: var(--padding-s);
    height: 360px;

}

.payment-card:hover {
    background-color: rgba(0, 0, 0, .9)
}

.payment-plan {
    width: auto;
    text-align: left;
    margin-left: var(--margin-s);
    align-items: flex-start;
}

.price {
    text-align: center;
}

.number {
    font-weight: bolder;
    font-size: 2rem;
}

span strong {
    font-weight: lighter;
}

.payment-button {
    font-family: var(--font);
    font-size: large;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: var(--radius-small);
    color: var(--primary-color);
    background-color: var(--button-blue);
    margin-top: var(--margin-s);
}

.payment-button:hover {
    color: var(--button-blue);
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--button-blue);
}

.features {
    padding: var(--padding-s);
    list-style: none;
}

.feature-list-item {
    padding: var(--padding-xxs);
}

.feature-info {
    font-size: large;
}

.cancel-button {
    background-color: var(--button-red);
}

.cancel-button:hover {
    border: 1px solid rgb(183, 4, 4);
    background-color: transparent;
    color: red;
}

.payment-contact {
    justify-self: center;
}

/*
* Footer
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 8px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link {
    margin: 8px;
    font: var(--font);
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    cursor: pointer;
    color: var(--button-blue);
    text-decoration: underline;
}

.footer p {
    font: var(--font);
    color: var(--font-color);
    margin-top: 5px;
    margin-bottom: 5px;
}




@media only screen and (max-width: 1000px){

    /*
    * Navigation Bar
    */
    .navbar-menu {
        display: none;
    }

    .hamburger-container {
        display: flex;
    }

    .navbar-container {
        width: 95vw;
        max-width: 25rem;
        justify-content: flex-end;
    }

    .navbar-logo {
        margin-right: auto;
    }

    
    .overlay.open {
        display: block;
    }
    



    /*
    * Register
    */
    .auth-form {
        width: 95vw;
        margin: var(--margin-s);
        padding: var(--padding-xs);
        text-align: center;
    }

    .introduction {
        font-size: x-large;
        font-weight: bolder;
    }

    .auth-input {
        font-size: large;
        width: 100%;
    }

    #register-button{
        width: 300px;
    }

    #redirect-sign-in {
        font-size: large;
    }

    #redirect-sign-in a {
        font-size: large;
    }

    /*
    * Blog Container
    */
    #title {
        font-size: 1.5em;

    }

    main {
        padding-top: 20px;
        font-size: large;
    }

    #blog-form {
        margin-bottom: 40px;
    }

    #blog-header-image {
        width: 100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: var(--radius-small);
    }

    /*
    * Queue
    */
    .queue-meta-info {
        font-size: small;
    }

    .queue-publish-date {
        font-size: small;
    }

    .queue-link {
        font-size: medium;
    }

    /*
    * Stripe Payments
    */
    .stripe-form {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 50px;
    }
    .payment-card-container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .payment-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .payment-card {
        width: 90vw;
        margin-bottom: var(--margin-s);
    }

    .payment-card:hover{
        transition: none;
        transform: none;
    }

    .footer {
        flex-direction: column-reverse;
    }

}

