{% extends "autoblog/base.html" %}

{% block title %}Bulk Generation Dashboard{% endblock %}

{% block content %}
<div class="queue-blog-container">
    <table class="blog-queue-table">
        <thead>
            <tr>
                <th class="queue-table-header">Image</th>
                <th class="queue-table-header">Title</th>
                <th class="queue-table-header">Publish Date</th>
                <th class="queue-table-header"></th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>            
                    <td>
                        <!-- Image -->
                        {% if blog.image %}
                            <img class="queue-image" src="{{ blog.image.url }}" alt="blog header image preview">
                        {% else %}
                            <div class="blank-image-placeholder"></div>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Title -->
                        <p class="queue-meta-info">{{ blog.title }}</p>
                    </td>
                    <td>
                        <!-- Publish Date -->
                        <p class="queue-publish-date">{{ blog.publish_date }}</p>
                    </td>  
                    <td class="queue-table-data">
                        <a class="queue-link" href="{% url 'display_blog' blog.id %}">edit</a>
                    </td>
                </tr>   
            {% endfor %}
            <script>
                const rows = document.querySelectorAll('.blog-queue-table tbody tr');
    
                rows.forEach((row, index) => {
                    console.log(index);
    
                    if (index % 2 === 0) {
                        row.classList.add("queue-row-gray");
                    }
                });
            </script>         
        </tbody>
    </table>
</div>
{% endblock %}