{% extends "autoblog/base.html" %}

{% block title %}Display Blog{% endblock %}

{% block content %}
    <div class="blog-container">
        {% if blog.task_id %}
            <div class="generating-content">
                <h1 id="generating-header">Generating Blog! This will take 30 seconds!</h1>
                <h2 id="typed-output"></h2>
            </div>
            <input type="hidden" name="task_id" id="task_id" value="{{ blog.task_id }}">
            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                  new Typed('#typed-output', {
                    strings: ["Writing Blog..."],
                    typeSpeed: 70,
                    backSpeed: 70,
                    backDelay: 1000,
                    startDelay: 500,
                    loop: true,
                    showCursor: false,
                  });
                });
            </script>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>
                var task_id = document.getElementById("task_id").value
                getStatus(task_id);
                
                function getStatus(task_id) {
                    $.ajax({
                        url: `/taskStatus/${task_id}/`,
                        method: 'GET'
                    }).done(res => {
                        const task_status = res.task_status;
                        if (task_status === "SUCCESS" || task_status === "Failure") {
                            location.reload()
                        }

                        setTimeout( function() {
                            getStatus(task_id);
                        }, 10000);
                    })
                }
            </script>
        {% endif %}


        {% if blog.content %}
            <main>
                <article id="blog" style="font-family: Arial;">
                    {% if blog.image %}
                        <img id="blog-header-image" src="{{ blog.image.url }}" alt="Blog Header Image">
                        <div class="image-delete-container">
                            <form class="image-delete-form" method="POST">
                                {% csrf_token %}
                                <input id="delete-blog-image" class="submit-button delete-blog-image-button" type="submit" formaction="{% url 'delete_blog_image' blog.id%}" value="Delete Image">
                            </form>
                        </div>
                    {% else %}
                        <div class="upload-image-container">
                            <form class="image-upload-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="id_image" id="file-upload-button" class="file-upload-button">
                                    {% load static %}
                                    <img src="{% static '/autoblog/upload.svg' %}" alt="upload icon" width="40" height="40">
                                    <span><strong>Upload custom image</strong></span>
                                </label>
                                <input aria-invalid="true" id="id_image" type="file" name="image" accept="image/*" onchange="loadFile(event)" multiple required>
                                <div id="uploaded-image-container" class="uploaded-image-container" style="display: none;">
                                    <img alt="image preview" id="uploaded-image" width="30" height="30">
                                    <img src="{% static '/autoblog/trash.svg' %}" alt="trash can" id="trash-can" onclick="deleteUploadedImage()" width="30" height="30">
                                </div>
                                <input id="upload-blog-image" class="submit-button upload-blog-image-button" type="submit" formaction="{% url 'upload_blog_image' blog.id %}" value="Upload Image" style="display: none;">
                            </form>
                            <script>
                                function deleteUploadedImage() {
                                    var uploadedImage = document.getElementById("id_image");
                                    uploadedImage.value = "";

                                    var image = document.getElementById("uploaded-image");
                                    image.src = "";

                                    var uploadImageButton = document.getElementById("file-upload-button");
                                    uploadImageButton.style.display = 'flex';

                                    var uploadImageButton = document.getElementById("uploaded-image-container");
                                    uploadImageButton.style.display = 'none';

                                    var uploadImageSubmitButton = document.getElementById('upload-blog-image');
                                    uploadImageSubmitButton.style.display = 'none';
                                }

                                function loadFile(event) {
                                    const MAX_SIZE = 5 * 1024 * 1024;
                                    var imageInput = document.getElementById("uploaded-image");
                                    var image = event.target.files[0]
                                    if(image) {
                                        let newImage = new Image();
                                        newImage.src = URL.createObjectURL(image);
                                        
                                        newImage.onload = function () {
                                            let width = newImage.width;
                                            let height = newImage.height;

                                            console.log(width);
                                            console.log(height);
                                            
                                            if(width * height > MAX_SIZE) {
                                                alert("Uploaded image is too large. Try resizing it or convert it to webp format.");
                                                deleteUploadedImage();
                                            } else {    
                                                imageInput.src = newImage.src
                                            }
                                        };
                                    }

                                    var uploadImageButton = document.getElementById("file-upload-button");
                                    uploadImageButton.style.display = 'none';

                                    var uploadImageButton = document.getElementById("uploaded-image-container");
                                    uploadImageButton.style.display = 'flex';

                                    var uploadImageSubmitButton = document.getElementById('upload-blog-image');
                                    uploadImageSubmitButton.style.display = 'flex';

                                };
                            </script>
                            
                        </div>
                    {% endif %}

                    <h2 id="title" contentEditable="true">{{ blog.title }}</h2>
                    <form class="rte" action="" method="POST">
                        {% csrf_token %}
                        {{ rte_form.content }}
                    </form>
                </article>


                {% if member.wordpress_url != '' %}
                    <form id="blog-form" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <input class="submit-button" type="submit" formaction="{% url 'post_blog' blog.id %}" value="Post">
                        <input class="submit-button" type="submit" formaction="{% url 'email_blog' blog.id %}" value="Email">
                        <input class="submit-button" type="submit" formaction="{% url 'save_blog' blog.id %}" value="Save">
                        <input id="delete-blog" class="submit-button" type="submit" formaction="{% url 'delete_blog' blog.id %}" value="Delete">
                    </form>
                {% else %}
                    <form id="blog-form" method="POST">
                        {% csrf_token %}
                        <input class="submit-button" type="submit" formaction="{% url 'email_blog' blog.id %}" value="Email">
                        <input class="submit-button" type="submit" formaction="{% url 'save_blog' blog.id %}" value="Save">
                        <input id="delete-blog" class="submit-button" type="submit" formaction="{% url 'delete_blog' blog.id %}" value="Delete">
                    </form>
                    <div id="member-info-link"><h3><a href="{% url 'member_info' %}">Link</a> your WordPress Site!</h3></div>
                {% endif %}
            </main>
            {% load static %}
            <script src="{% static 'autoblog/script.js' %}"></script>
        {% elif not blog %}
            <div class="no-blogs-container"><h2>You currently don't have a blog written. Would you like to <a href="{% url 'generate_blog' %}">create</a> one?</h2></div>
        {% endif %}
    </div>



{% endblock %}
