{% extends "autoblog/base.html" %}

{% block title %}Generate Blog{% endblock %}

{% block content %}
    {% if member.blogs_remaining > 0 %}
    <div class="form-container">
        <form class="auth-form" method="POST">
            <h2 class="introduction">Create Blog</h2>
            {% csrf_token %}
            <div class="input-container">
                <input type="hidden" name="generate_ai_image" id="generate-ai-image-checkbox" value="False">
                <div class="generate-ai-image-checkbox">
                    <label for="generate-ai-image-checkbox">Generate AI Image</label>
                    <input type="checkbox" name="generate_ai_image" id="generate-ai-image-checkbox" value="True">
                </div>
                    <input class="auth-input" type="text" name="title" placeholder="Enter a Blog Title" required>
            </div>
            <button id="register-button" class="submit-button" type="submit">Create</button>
        </form>
    </div>
    {% else %}
        {% if member.membership_level == "none" %}
            <div class="no-blogs-container">
                <h2><a href="{% url 'pay' %}">Purchase</a> a subscription to write more blogs!</h2>
            </div> 
        {% elif member.membership_level == "Good" or member.membership_level == "Better"%}
            <div class="no-blogs-container">
                <h2>No blogs remaining. Come back next month or <a href="{% url 'pay' %}">upgrade</a> your subscription plan!</h2>
            </div>
        {% else %}
            <div class="no-blogs-container">
                <h2>No blogs remaining. Come back next month for more!</h2>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}