{% extends "autoblog/homeBase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    {% load static %}
    <div class="hero-container">
        <h1 class="hero-title">The Easiest Way to Boost Website Rankings</h1>
        <h2 class="hero-subheading">Your Blogging Assistant is an effortlessly simple content creation tool designed for teams of one.</h2>
        <a class="home-link" href="{% url 'register' %}">
            <div class="home-link-container">Get Started</div>
        </a>
    </div>
</div>
{% endblock %}