{% extends "autoblog/homeBase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="home-container">
    <div class="hero-container">
        <h1 class="hero-title">The Easiest Way to Boost Website Rankings</h1>
        <h2 class="hero-subheading">Your Blogging Assistant is an effortlessly simple content creation tool designed for teams of one.</h2>
        <a class="home-link" href="{% url 'register' %}">
            <div class="home-link-container">Get Started</div>
        </a>
    </div>
    <div class="mission-container">
        <div class="mission-info">
            <h2 class="mission-title">Our Mission</h2>
            <h3 class="mission-statement">&emsp;To simplify the creation of high-quality content for your website, empowering you to focus on what matters most.</h3>
        </div>
    </div>
    <div class="product-info-container">
        <!-- AI content writer card -->
        <div class="product-card">
            <img class="product-card-image" src="{% static '/autoblog/logo.svg' %}" alt="Your Blogging Assistant LLC logo" width="60" height="60">
            <h3 class="product-card-title">AI-powered SEO Writer</h3>
            <p class="product-card-text">Leverage AI to craft SEO-optimized content that ranks higher on search engines and drives organic traffic to your site.</p>
        </div>
    
        <!-- Post to WordPress -->
        <div class="product-card">
            <img class="product-card-image" src="{% static '/autoblog/wordpress.svg' %}" alt="WordPress logo" width="60" height="60">
            <h3 class="product-card-title">WordPress Blog Publisher</h3>
            <p class="product-card-text">Seamlessly post your blog content directly to your WordPress site with just a few clicks, saving you time and effort.</p>
        </div>
    
        <!-- Email link to Google Doc -->
        <div class="product-card">
            <img class="product-card-image" src="{% static '/autoblog/google-docs.svg' %}" alt="Google Docs logo" width="60" height="60">
            <h3 class="product-card-title">Blog Emailing</h3>
            <p class="product-card-text">Automatically email your blog content as a link to a Google Doc, ensuring easy access and collaboration.</p>
        </div>
    
        <!-- Fully automated upload of blog -->
        <div class="product-card">
            <img class="product-card-image" src="{% static '/autoblog/settings.svg' %}" alt="Blue settings icon. Copied from: https://icons8.com/icon/Tb2Gc2HE05aa/settings" width="60" height="60">
            <h3 class="product-card-title">Hands-Free Blog Automation</h3>
            <p class="product-card-text">Automate the entire blogging process, from content creation to publication, with minimal manual intervention.</p>
        </div>
    </div>

    <h1 class="examples-title">Example Blogs</h1>
    <div class="examples-container">
        {% for blog in example_blogs %}
            <a class="example-blog-card" href="{% url 'example_blog' blog.id %}">
                <img src="{{ blog.image.url }}" alt="blog header image" class="blog-card-image">
                <h3 class="blog-intro-title">{{ blog.title }}</h3>
                <p class="blog-card-intro">{{ blog.description }}</p>
            </a>
        {% endfor %}
    </div>
    
    <h1 class="payment-title">Payment Plans</h1>
    <div class="toggle-pricing-plans-container">
        <div class="toggle-pricing-plans">
            <div id="regular-plans-button" class="pricing-toggle-button selected" onclick="togglePaymentPlanCards('regular')">
                Regular Plans
            </div>
        
            <div id="automated-plans-button" class="pricing-toggle-button" onclick="togglePaymentPlanCards('automated') ">
                Automated Plans
            </div>
        </div>
    </div>
    <div class="stripe-form">
        <!-- Regular Plans -->
        <div id="regular-payment-cards" class="payment-card-container regular-plan-payment-cards">
            <!-- Regular Starter Plan Card -->
            <div id="good-card" class="payment-card">
                <h2 class="payment-plan">Starter Plan</h2>
                <div class="price">                
                    <span class="number">
                        $24.99
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 4 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Post blogs to your WordPress site</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                </ul>
            </div>
    
            <!-- Regular Pro Plan Card -->
            <div id="better-card" class="payment-card">
                <h2 class="payment-plan">Pro Plan</h2>
                <div class="price">                
                    <span class="number">
                        $49.99
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 8 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Post blogs to your WordPress site</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                </ul>
            </div>
    
            <!-- Regular Premium Plan Card -->
            <div id="best-card" class="payment-card">
                <h2 class="payment-plan">Premium Plan</h2>
                <div class="price">                
                    <span class="number">
                        $99.99
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 16 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Post blogs to your WordPress site</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                </ul>
            </div>
    
            <!-- Contact Card -->
            <div id="best-card" class="payment-card">
                <h2 class="payment-plan">Custom</h2>
                <div id="payment-contact-form" class="payment-card-form">
                    <span class="feature-info">Need more blogs for your business?</span>
                    <a class="payment-contact" href="{% url 'contact' %}">
                        <button class="payment-button" >Contact Us</button>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- Automated Plans -->
        <div id="automated-payment-cards" class="payment-card-container automated-plan-payment-cards">
            <!-- Automated Starter Plan Card -->
            <div id="good-card" class="payment-card">
                <h2 class="payment-plan">Starter Plan</h2>
                <div class="price">                
                    <span class="number">
                        $100
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 4 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Automated WordPress posting</span>
                    </li>
                </ul>
            </div>
    
            <!-- Automated Pro Plan Card -->
            <div id="better-card" class="payment-card">
                <h2 class="payment-plan">Pro Plan</h2>
                <div class="price">                
                    <span class="number">
                        $120
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 8 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Automated WordPress posting</span>
                    </li>
                </ul>
            </div>
    
            <!-- Automated Premium Plan Card -->
            <div id="best-card" class="payment-card">
                <h2 class="payment-plan">Premium Plan</h2>
                <div class="price">                
                    <span class="number">
                        $140
                    </span>
                    <span>
                        <strong>per month</strong>
                    </span>
                </div>
                <a href="{% url 'register' %}" class="home-payment-plan-link">
                    <button class="payment-button">Get Started</button>
                </a>
                <ul class="features">
                    <li class="feature-list-item">
                        <span class="feature-info">Create 16 blogs per month</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Send blogs to your email</span>
                    </li>
                    <li class="feature-list-item">
                        <span class="feature-info">Automated WordPress posting</span>
                    </li>
                </ul>
            </div>
    
            <!-- Contact Card -->
            <div id="best-card" class="payment-card">
                <h2 class="payment-plan">Custom</h2>
                <div id="payment-contact-form" class="payment-card-form">
                    <span class="feature-info">Need more blogs for your business?</span>
                    <a class="payment-contact" href="{% url 'contact' %}">
                        <button class="payment-button" >Contact Us</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function togglePaymentPlanCards(cardType) {
            const regularPlans = document.getElementById("regular-payment-cards");
            const automatedPlans = document.getElementById("automated-payment-cards");
    
            const regularPlansButton = document.getElementById("regular-plans-button");
            const automatedPlansButton = document.getElementById("automated-plans-button");
    
            if(cardType === "regular") {
                regularPlansButton.classList.add("selected");
                automatedPlansButton.classList.remove("selected");
        
                regularPlans.style.display = "flex";
                automatedPlans.style.display = "none";
            } else if (cardType === "automated") {
                regularPlansButton.classList.remove("selected");
                automatedPlansButton.classList.add("selected");
        
                regularPlans.style.display = "none";
                automatedPlans.style.display = "flex";
            }
        }
    </script>
</div>
{% endblock %}