{% extends "autoblog/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form class="auth-form" method="POST">
    <h2 class="introduction">Welcome Back</h2>
    {% csrf_token %}
    <div class="input-container">
        <input class="auth-input" type="text" name="username" placeholder="Username">
        <input class="auth-input" type="password" name="password" placeholder="Password">
    </div>
    <button id="register-button" class="submit-button" type="submit">Login</button>
</form>
{% endblock %}