{% extends "autoblog/authBase.html" %}

{% block title %}Login{% endblock %}
{% load socialaccount %}

{% block content %}
<div class="form-container">
    <form class="auth-form" method="POST">
        <h4 class="introduction">Welcome Back!</h4>
        {% csrf_token %}
        <div class="input-container">
            <input class="auth-input" type="text" name="username" placeholder="Username">
            <input class="auth-input" type="password" name="password" placeholder="Password">
        </div>
        <button id="register-button" class="submit-button" type="submit">Sign in</button>
        <p id="redirect-sign-in">Don't have an account? <a href="{% url 'register' %}">Sign up now</a></p>
        <div class="google-login-container">
            <form method="POST" class="google-login-form">
                {% csrf_token %}
                <button type="submit" class="google-login-btn" formaction="{% url 'google_login' %}">
                    {% load static %}
                    <img src="{% static '/autoblog/google.svg' %}" class="google-icon" alt="Google Icon" width="30" height="30">
                    <p class="google-login-text">Login with Google</p>
                </button>
            </form>
        </div>
    </form>
</div>
{% endblock %}