{% extends "autoblog/base.html" %}

{% block title %}Member Dashboard{% endblock %}

{% block content %}
    <div class="blog-container">
        {% if blog.subheading_1 %}
            <main>
                <article style="font-family: Arial;">
                    <h2 id="title" contentEditable="true">{{ blog.title }}</h2>
                    <section>
                        <h3 id="subheading_1" contentEditable="true">{{ blog.subheading_1 }}</h3>
                        <p id="section_1" contentEditable="true"> &emsp; {{ blog.section_1 }}</p>
                    </section>
                    <section>
                        <h3 id="subheading_2" contentEditable="true">{{ blog.subheading_2 }}</h3>
                        <p id="section_2" contentEditable="true"> &emsp; {{ blog.section_2 }}</p>
                    </section>
                    <section>
                        <h3 id="subheading_3" contentEditable="true">{{ blog.subheading_3 }}</h3>
                        <p id="section_3" contentEditable="true"> &emsp; {{ blog.section_3 }}</p>
                    </section>
                    <section>
                        <h3 id="subheading_4" contentEditable="true">{{ blog.subheading_4 }}</h3>
                        <p id="section_4" contentEditable="true"> &emsp; {{ blog.section_4 }}</p>
                    </section>
                    <section>
                        <h3 id="subheading_5" contentEditable="true">{{ blog.subheading_5 }}</h3>
                        <p id="section_5" contentEditable="true"> &emsp; {{ blog.section_5 }}</p>
                    </section>
                </article>
                {% if member.wordpress_url != '' %}
                    <form id="blog-form" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <input class="submit-button" type="submit" formaction="{% url 'post_blog' %}" value="Post">
                        <input class="submit-button" type="submit" formaction="{% url 'save_blog' %}" value="Save">
                        <input id="delete-blog" class="submit-button" type="submit" formaction="{% url 'delete_blog' %}" value="Delete">
                    </form>
                {% else %}
                    <div id="member-info-link"><h3><a href="{% url 'member_info' %}">Link</a> your WordPress Site!</h3></div>
                {% endif %}
            </main>
            {% load static %}
            <script src="{% static 'autoblog/script.js' %}"></script>
        {% elif not blog %}
            <div class="no-blogs-container"><h2>You currently don't have a blog written. Would you like to <a href="{% url 'generate_blog' %}">create</a> one?</h2></div>
        {% endif %}
    </div>
{% endblock %}