{% extends "autoblog/authBase.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="form-container">
    <form class="auth-form" method="POST">
        {% csrf_token %}
        <h4 class="introduction">Create your account</h4>
        <div class="input-container">
            <input class="auth-input" type="text" name="username" placeholder="Username" required>
            <input class="auth-input" type="email" name="email" placeholder="Email" required>
            <input class="auth-input" type="password" name="password1" placeholder="Password" required>
            <input class="auth-input" type="password" name="password2" placeholder="Confirm Password" required>
        </div>
        <button id="register-button" class="submit-button" type="submit">Register</button>
        <p id="redirect-sign-in">Already registered? <a href="{% url 'login' %}">Log in</a></p>
    </form>
</div>
{% endblock %}