{% extends "autoblog/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<form class="auth-form" method="POST">
    {% csrf_token %}
    <h2 class="introduction">Create your account</h2>
    <div class="input-container">
        <input class="auth-input" type="text" name="username" placeholder="Username" required>
        <input class="auth-input" type="email" name="email" placeholder="Email" required>
        <input class="auth-input" type="password" name="password1" placeholder="Password" required>
        <input class="auth-input" type="password" name="password2" placeholder="Confirm Password" required>
    </div>
    <button id="register-button" class="submit-button" type="submit">Register</button>
    <p id="redirect-sign-in">Already a User? <a href="{% url 'login' %}">Sign In</a></p>
</form>
{% endblock %}