{% extends "autoblog/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="container">
    <div class="settings-container">
        <div class="info-container">
            <div class="settings-header-container" id="blog-info">
                {% if member.blogs_remaining > 0 %}
                    <h4 class="settings-header">Blogs Remaining: {{ member.blogs_remaining }}</h4>
                {% else %}
                    <h4 class="settings-header">Blogs Remaining: None</h4>
                    <a class="settings-link" href="{% url 'pay' %}">Purchase More</a>
                {% endif %}
            </div>
            <div class="separator"></div>
        </div>
        <div class="info-container">
            <div class="settings-header-container">
                <h5 class="settings-header">Account Information</h5>
                <a class="settings-link" href="{% url 'member_info' %}">Change</a>
            </div>
            <div class="separator"></div>
            <div class="settings-drop-down" id="website-info">
                <div class="info">Email: {{ user.email }}</div>
                <div class="info">Website URL: {{ member.wordpress_url }}</div>
                <div class="info">Website Username: {{ member.wordpress_username }}</div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="info-container">
            <div class="settings-header-container">
                <h5 class="settings-header">Subscription Information</h5>                
                <a class="settings-link" href="{% url 'pay' %}">Change</a>
            </div>
            <div class="separator"></div>
            <div class="settings-drop-down" id="subscription-info">
                <div class="info">Subscription Level: {{ member.membership_level }}</div>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'autoblog/script.js' %}"></script>
{% endblock %}